body {
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
  font-family: sans-serif;
}

.container {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  width: 30%;
  color: white;
  font-size: larger;
}

.value {
  color: yellow;
  font-size: 24px;
}
